extends base
block header
    title TeXDown
    link(rel="stylesheet", type="text/css", href="/css/edit.css")
    link(rel="stylesheet", type="text/css", href="/css/monokai.css")
    link(rel="stylesheet", type="text/css", href="/lib/codemirror/codemirror.css")
    link(rel="stylesheet", type="text/css", href="/lib/codemirror/theme/monokai.css")
    link(rel="stylesheet", type="text/css", href="/lib/codemirror/addon/dialog/dialog.css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap-social.css")

block content
    .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                .sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.texdown-logo(href="/")
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                //- var title = (file && file.name ? file.name.slice(0, 25) : 'Untitled')
                //- title = (file && file.name && file.name.length > 25 ? title + '...' : title)
                if (file)
                    li: input#filename(type="text", placeholder="Filename", data-filename="#{file.name}", data-fileid="#{file.id}", value=file.name)
                else
                    li: input#filename(type="text", placeholder="Filename", value="Untitled")
                li: a#save-button(href="#", title="Save")
                    span.glyphicon.glyphicon-floppy-disk
                    |  Save
                li: a#compile-button(href="#", title="Compile")
                    span.glyphicon.glyphicon-refresh
                    |  Compile
                li: a#discard-button(href="#", title="Discard")
                    span.glyphicon.glyphicon-trash
                    |  Discard
                li: a#expand-button(href="#", title="Expand")
                    span.glyphicon.glyphicon-fullscreen
                    |  Expand
                li: a#markdown-button(href="#", title="Markdown Hints")
                    span.glyphicon.glyphicon-dashboard
                    |  Markdown
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") 
                        span.glyphicon.glyphicon-cog
                        |  Settings... 
                    ul.dropdown-menu
                        li
                            h5 Keybindings
                            .btn-group
                                button.btn.btn-primary#nokeys(type="button") None
                                button.btn.btn-default#vimkeys(type="button") vim
                                button.btn.btn-default#emacskeys(type="button") emacs
            if (user)
                ul.nav.navbar-nav.navbar-right
                    li.dropdown: a.dropdown-toggle(href="#", data-toggle="dropdown")
                        img.avatar(src=user._json.picture)
                        //- Uncomment to get user's name (Not being passed?)
                        //- = &nbsp;&nbsp;user.name.givenName
                        | &nbsp;&nbsp;Me
                        b.caret
                        ul.dropdown-menu
                            li: a(href="/") 
                                span.glyphicon.glyphicon-home
                                |  My Notes
                            li: a(href="/logout") 
                                span.glyphicon.glyphicon-plus
                                |  New
                            li.divider
                            li: a(href="/logout") 
                                span.glyphicon.glyphicon-off
                                |  Logout
                    li: a= ' '
            else
                form.navbar-form.navbar-right
                    a.btn.btn-social.btn-primary(href="/auth/google")
                        i.fa.fa-google-plus
                        | &nbsp;&nbsp;Sign in&nbsp;&nbsp;
                ul.nav.navbar-nav.navbar-right
                    li: a= ' '

    .full#editor-window
        .col-md-6.full#editor-col
            form.full#editor-form
                textarea#editor-pane.full= (file && file.content ? file.content : '')
        .col-md-6.full#preview-col
            #preview-wrapper.full
                #preview-pane.full
                    br
                    h1.text-center Click &ldquo;
                        span.glyphicon.glyphicon-refresh
                        |  Compile&rdquo; to see your notes!
                #preview-waiting.hidden
                    i.fa.fa-cog.fa-spin.text-center

    .hidden#markdown-pane
        a(href="/images/markdown-cheatsheet.png", target="_blank"): img.img-thumbnail(src="/images/markdown-cheatsheet.png")
    .alert.alert-success#message-box

block script
    script(src="/lib/codemirror/codemirror.js")
    script(src="/lib/codemirror/addon/mode/overlay.js")
    script(src="/lib/codemirror/addon/search/search.js")
    script(src="/lib/codemirror/addon/search/searchcursor.js")
    script(src="/lib/codemirror/addon/dialog/dialog.js")
    script(src="/lib/codemirror/mode/xml/xml.js")
    script(src="/lib/codemirror/mode/markdown/markdown.js")
    script(src="/lib/codemirror/mode/gfm/gfm.js")
    script(src="/lib/codemirror/mode/javascript/javascript.js")
    script(src="/lib/codemirror/mode/css/css.js")
    script(src="/lib/codemirror/mode/htmlmixed/htmlmixed.js")
    //- For some reason, syntax highlighting in the editor only works for 
    //- certain languages (Java, Javascript, html, but not Python, etc. Weird.)
    script(src="/lib/codemirror/mode/clike/clike.js")
    script(src="/js/prettify.js")
    script(src="/js/jquery.typing-0.2.0.min.js")
    script(src="/js/marked.js")
    script(src="/js/edit.js")
