extends base
block header
    title TeXDown
    link(rel="stylesheet", type="text/css", href="/css/bootstrap-social.css")
    link(rel="stylesheet", type="text/css", href="/css/index.css")
block content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.texdown-logo(href="/")
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    if (user)
                        li: a(href="#")
                            span.glyphicon.glyphicon-star
                            |  About
                    li: a(href="#")
                        span.glyphicon.glyphicon-question-sign
                        |  Usage
                    if (user)
                        li: a(href="/edit")
                            span.glyphicon.glyphicon-plus
                            |  New
                    else
                        li: a(href="/edit")
                            span.glyphicon.glyphicon-plus
                            |  Try it!

                if (user)
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown: a.dropdown-toggle(href="#", data-toggle="dropdown")
                            img.avatar(src=user._json.picture)
                            | &nbsp;&nbsp;Me
                            b.caret
                            ul.dropdown-menu
                                li: a(href="/logout") 
                                    span.glyphicon.glyphicon-off
                                    |  Logout
                else
                    form.navbar-form.navbar-right
                        a.btn.btn-social.btn-primary(href="/auth/google")
                            i.fa.fa-google-plus
                            | &nbsp;&nbsp;Sign in&nbsp;&nbsp;

    if (!user)
        .jumbotron
            .container
                img(src="/images/texdown-logo-white-900.png")
                .row
                    .col-md-9
                        h1 For efficient Markdown note-taking infused with the power of \( \mathrm\LaTeX \)

    else
        - var now = new Date(1389150019*1000)
        .jumbotron.jumbotron-column
            img.pull-right(width="90%", src="/images/texdown-logo-white-900.png")
            h1.lead.text-right your files
        .row
            .col-md-6.col-md-offset-3 
                h1 Notes
                    a.pull-right.btn.btn-primary.btn-lg(href="/edit")
                        span.glyphicon.glyphicon-plus
                        |  New Note
                hr.clear-both
                if (user.files.length === 0)
                    .well.well-lg
                        h2.text-center You don't seem to have any notes.
                #previews
                    each file in user.files
                        .panel.panel-info(class='file-display-' + file._id)
                            .panel-heading
                                a.text-info.panel-title(href='/edit/' + file._id)= file.filename
                                small= ' - ' + now
                                button.close(type="button", data-fileid=file._id, data-filename=file.filename, aria-hidden="true") 
                                    small: span.glyphicon.glyphicon-trash
                            .panel-body
                                - var body = file.context.replace(/(\r\n|\n|\r)/gm, " ")
                                - var body = body.match(/^.{0,300}/)[0]
                                if body.length === 300
                                    = body + '...'
                                else
                                    = body
                br
            .col-md-3
                h1.text-center Tags
                hr
                if (user.files.length === 0)
                    .well.well-lg
                        h4 Oh? 
                        p Looks like you don't have any tags :(
                .list-group#labels
                    each file in user.files 
                        a.list-group-item(class="file-display-" + file.id, href='/edit/' + file.id)= file.filename
                            button.close(type="button", data-fileid=file.id, data-filename=file.filename, aria-hidden="true") &times;
        .modal.fade#confirm-delete-modal(tabindex="-1", role="dialog", aria-labelledby="confirm-delete-title", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type="button", aria-hidden="true") &times;
                        h4.modal-title#confirm-delete-title Confirm Deletion
                    .modal-body
                        .alert.alert-danger
                    .modal-footer
                        button.btn.btn-default(data-dismiss="modal") Cancel
                        button.btn.btn-danger#delete-confirm(data-dismiss="modal") Delete
    .alert.alert-success#message-box

block script
    script(type="text/javascript", src="/js/index.js")
